@import "tailwindcss";

@theme {
  --color-un-blue: #418FDE;
  --color-un-dark: #1E4F84;
  --color-un-light: #E6F0FA;
  --color-un-accent: #fecc00;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Merriweather", serif;
}
